---
import Peg from "./Peg.astro";
const { class: className } = Astro.props;
---

<div class:list={[className, "wrapper"]}>
  <Peg class="peg" />
  <svg fill="none" viewBox="0 0 106 108" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M2.37971 9.35166C2.37971 13.05 2.53401 16.8359 2.28124 20.5189C2.00905 24.4851 1.99989 28.6144 1.99989 32.5995C1.99989 38.1753 2.1265 43.7701 2.1265 49.3297C2.1265 54.0299 2.14964 58.6975 2.49928 63.3407C2.70426 66.0627 3.22113 68.796 3.70908 71.4359C4.11046 73.6075 4.02652 76.5444 3.87085 78.7839C3.43767 85.0159 3.13935 91.259 3.13935 97.5275C3.13935 98.8145 3.01274 100.062 3.01274 101.357C3.01274 102.577 3 103.787 3 105V105.384C3.49176 105.351 4.024 105.375 4.25415 105.358C5.63824 105.254 7.05154 105.451 8.42299 105.222C9.47143 105.047 10.6668 104.752 11.7246 104.752C12.9011 104.752 14.0606 104.564 15.2248 104.564C16.6529 104.564 18.0591 104.752 19.4877 104.752H34.7316C39.5601 104.752 44.3414 105.316 49.1815 105.316H66.9435C68.1551 105.316 69.5539 105.491 70.7571 105.306C75.3463 104.6 80.1175 104.752 84.7681 104.752C86.4121 104.752 88.0663 105.128 89.7415 105.128C91.1907 105.128 92.6227 105.316 94.0879 105.316C96.7899 105.316 99.571 105.193 102.258 105.152V98.4517C102.258 94.5284 102.953 90.6822 103.011 86.781C103.171 75.8941 103.387 64.9459 103.387 54.0676C103.387 50.761 103.538 47.468 103.575 44.1732C103.599 42.0264 103.951 39.9081 103.951 37.7579V25.7843C103.951 22.8753 103.814 19.987 103.763 17.0914C103.731 15.2747 103.387 13.4828 103.387 11.6583C103.387 9.00076 103.539 6.37958 103.569 3.74231C101.463 3.66489 99.6017 3.29811 97.4523 2.63104C95.9135 2.15349 93.9218 1.99585 92.3222 1.88921C89.9847 1.73338 87.5927 1.87876 85.2487 1.87876C80.7443 1.87876 76.2516 2.2549 71.7287 2.2549C67.3156 2.2549 62.9349 2.44297 58.5222 2.44297C56.1323 2.44297 53.7472 2.73389 51.3547 2.80866C49.4838 2.86712 47.6054 2.8191 45.7336 2.8191C44.6748 2.8191 43.5253 2.68107 42.4946 2.96538C41.2838 3.29941 39.6254 3.00717 38.3885 3.00717H28.5149C23.3243 3.00717 18.0143 2.82719 12.8635 3.52958C11.3039 3.74226 9.78775 3.75944 8.21402 3.75944C6.27368 3.75944 4.41991 3.38856 2.50579 3.24218C2.49852 5.30538 2.37971 7.26031 2.37971 9.35166Z"
      fill="currentColor"></path>
    <path
      d="M2.50632 3.00001C2.50632 3.06515 2.50601 3.17717 2.50579 3.24218M1.64209 3.19524C1.91309 3.20528 2.23526 3.22149 2.50579 3.24218M104.327 3.75944C104.032 3.75944 103.85 3.75263 103.569 3.74231M103.575 2.8191C103.575 3.09997 103.572 3.45989 103.569 3.74231M102.258 106.445V105.152M1.5 106C1.62477 105.8 2.55492 105.415 3 105.384M103.575 105.128C103.102 105.128 102.731 105.145 102.258 105.152M2.50579 3.24218C4.41991 3.38856 6.27368 3.75944 8.21402 3.75944C9.78775 3.75944 11.3039 3.74226 12.8635 3.52958C18.0143 2.82719 23.3243 3.00717 28.5149 3.00717H38.3885C39.6254 3.00717 41.2838 3.29941 42.4946 2.96538C43.5253 2.68107 44.6748 2.8191 45.7336 2.8191C47.6054 2.8191 49.4838 2.86712 51.3547 2.80866C53.7472 2.73389 56.1323 2.44297 58.5222 2.44297C62.9349 2.44297 67.3156 2.2549 71.7287 2.2549C76.2516 2.2549 80.7443 1.87876 85.2487 1.87876C87.5927 1.87876 89.9847 1.73338 92.3222 1.88921C93.9218 1.99585 95.9135 2.15349 97.4523 2.63104C99.6017 3.29811 101.463 3.66489 103.569 3.74231M2.50579 3.24218C2.49852 5.30538 2.37971 7.26031 2.37971 9.35166C2.37971 13.05 2.53401 16.8359 2.28124 20.5189C2.00905 24.4851 1.99989 28.6144 1.99989 32.5995C1.99989 38.1753 2.1265 43.7701 2.1265 49.3297C2.1265 54.0299 2.14964 58.6975 2.49928 63.3407C2.70426 66.0627 3.22113 68.796 3.70908 71.4359C4.11046 73.6075 4.02652 76.5444 3.87085 78.7839C3.43767 85.0159 3.13935 91.259 3.13935 97.5275C3.13935 98.8145 3.01274 100.062 3.01274 101.357C3.01274 102.577 3 103.787 3 105V105.384M103.569 3.74231C103.539 6.37958 103.387 9.00076 103.387 11.6583C103.387 13.4828 103.731 15.2747 103.763 17.0914C103.814 19.987 103.951 22.8753 103.951 25.7843V37.7579C103.951 39.9081 103.599 42.0264 103.575 44.1732C103.538 47.468 103.387 50.761 103.387 54.0676C103.387 64.9459 103.171 75.8941 103.011 86.781C102.953 90.6822 102.258 94.5284 102.258 98.4517V105.152M102.258 105.152C99.571 105.193 96.7899 105.316 94.0879 105.316C92.6227 105.316 91.1907 105.128 89.7415 105.128C88.0663 105.128 86.4121 104.752 84.7681 104.752C80.1175 104.752 75.3463 104.6 70.7571 105.306C69.5539 105.491 68.1551 105.316 66.9435 105.316H49.1815C44.3414 105.316 39.5601 104.752 34.7316 104.752H19.4877C18.0591 104.752 16.6529 104.564 15.2248 104.564C14.0606 104.564 12.9011 104.752 11.7246 104.752C10.6668 104.752 9.47143 105.047 8.42299 105.222C7.05154 105.451 5.63824 105.254 4.25415 105.358C4.024 105.375 3.49176 105.351 3 105.384"
      stroke="black"
      stroke-width="3"
      stroke-linecap="round"></path>
  </svg>
  <div class="centerAlign"><slot /></div>
</div>

<style>
  .wrapper {
    position: relative;
  }
  .centerAlign {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .peg {
    width: 25px;
    color: #777;
    position: absolute;
    left: 40%;
    top: -25px;
  }
</style>
