---
const { variant, ...props } = Astro.props;

const variants: Record<number | string, number | string> = { 1: 1, 2: 2 };
const tapeId = variants[variant] ?? 1;
---

<div {...props}>
  <slot />
  <img class="tape" src=`/tape/${tapeId}.png` />
</div>

<style>
  div {
    position: relative;
    margin-top: 17%;
  }
  .tape {
    position: absolute;
    left: 12.5%;
    width: 75%;
    top: -14%;
  }
</style>
