---
import Background from "./Background.astro";
---

<div class="backgroundContainer">
  <Background class="backgroundImage" />
  <slot />
</div>

<style>
  .backgroundContainer {
    position: relative;
    min-height: 100%;
  }
  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    fill: none;
    z-index: -2;
  }
</style>
