---
const { src, height, width, size, class: className } = Astro.props;
---

<div class={className}>
  <img src={src} />
</div>

<style define:vars={{ height, width, size }}>
  div {
    position: relative;
    width: var(--width, var(--size, 100%));
    padding-top: var(--height, var(--size, 100%));
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
