---
const { src, height, width } = Astro.props;
---

<div>
  <img src={src} />
</div>

<style define:vars={{ height, width }}>
  div {
    position: relative;
    width: var(--width, 100%);
    padding-top: var(--height, 100%);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
