---
import DotBackground from "../components/presentation/Background/DotBackground.astro";
import Polaroid from "../components/presentation/Polaroid.astro";
import HTML from "../layout/HTML.astro";
---

<HTML>
  <DotBackground>
    <div class="content">
      <div class="border">
        <Polaroid class="polaroid" src="./sara.png">me in amsterdam</Polaroid>
      </div>
    </div>
  </DotBackground>
</HTML>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .border {
    position: relative;
    border: 10px solid transparent;
    border-image: url("/border.svg") 10 10 10 10 stretch stretch;
    width: 1200px;
    height: 790px;
    background-image: url("/test.svg");
  }
  .polaroid {
    position: absolute;
    width: 220px;
    left: 0;
  }
</style>
