---
import BackgroundProvider from "../components/presentation/Background/BackgroundProvider.astro";
import Logo from "../components/presentation/Logo.astro";
import Polaroid from "../components/presentation/Polaroid.astro";
import ProjectImage from "../components/presentation/ProjectImage.astro";
import HTML from "../layout/HTML.astro";
import MainAside from "../layout/MainAside.astro";
import ProjectMatrix from "../layout/ProjectMatrix.astro";
import SideBar from "../layout/SideBar.astro";
---

<HTML>
  <BackgroundProvider>
    <MainAside>
      <ProjectMatrix slot="main">
        <ProjectImage
          src="https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?cs=srgb&dl=pexels-peng-louis-1643457.jpg&fm=jpg"
        />
        <ProjectImage
          src="https://thumbs.dreamstime.com/b/black-white-cat-powerful-especially-pussy-88859325.jpg"
        />
        <ProjectImage
          src="https://thumbs.dreamstime.com/b/black-white-cat-powerful-especially-pussy-88859325.jpg"
        />
        <ProjectImage
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Checkerboard_pattern.svg/2048px-Checkerboard_pattern.svg.png"
        />
        <ProjectImage
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Checkerboard_pattern.svg/2048px-Checkerboard_pattern.svg.png"
        />
      </ProjectMatrix>
      <SideBar slot="aside">
        <Logo />
        <Polaroid />
        <span>sidebar</span>
      </SideBar>
    </MainAside>
  </BackgroundProvider>
</HTML>
