---
import DotBackground from "../components/presentation/Background/DotBackground.astro";
import NameCard from "../components/presentation/NameCard.astro";
import Polaroid from "../components/presentation/Polaroid.astro";
import Clip from "../components/presentation/Clip.astro";
import Peg from "../components/presentation/Peg.astro";
import HTML from "../layout/HTML.astro";
---

<HTML>
  <DotBackground>
    <div class="content">
      <div class="border">
        <NameCard class="name-card">sara pinder</NameCard>
        <Clip class="clip" />
        <Polaroid class="polaroid" src="./sara.png">me in amsterdam</Polaroid>
        <Peg class="peg" />
      </div>
    </div>
  </DotBackground>
</HTML>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .border {
    position: relative;
    border: 10px solid transparent;
    border-image: url("/border.svg") 10 10 10 10 stretch stretch;
    width: 1200px;
    height: 790px;
    background-image: url("/test.svg");
  }
  .polaroid {
    position: absolute;
    width: 220px;
    left: 0;
    top: 200px;
  }
  .name-card {
    position: absolute;
    width: 600px;
    left: 0;
    top: 0;
    transform: rotate(-5deg);
  }
  .clip {
    position: absolute;
    width: 100px;
    left: 230px;
    top: -60px;
    transform: rotate(-5deg);
  }
  .peg {
    position: absolute;
    width: 30px;
    left: 90px;
    top: 175px;
  }
</style>
