<aside>
  <slot name="aside" />
</aside>
<main>
  <slot name="main" />
</main>

<style>
  main {
    padding-left: 30%;
    width: 100%;
    min-height: 100%;
  }
  aside {
    position: fixed;
    width: 30%;
    padding: 70px 25px;
    min-height: 100%;
    height: 100%;
    background-color: var(--color-brand-pink);
  }
</style>
