<div slot="aside">
  <slot />
</div>

<style>
  div {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    padding: 75px 40px;
    /* row-gap: 100px; */
  }
</style>
